* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
   
}

::selection {
    color: blue;
    background-color: azure;
}

@keyframes times {
    0% {
        opacity: 0;
        transform: rotate(180deg);
    }
    50% {
        opacity: 1;
        transform: rotate(-745deg);
        color: rgba(1, 1, 22, 0.397);
    }
    70% {
        opacity: 0;
        transform: rotate(270deg);
        font-weight: 700;
        columns: rgba(255, 255, 255, 0.514);
    }
    100% {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes main {
    0% {
        opacity: 0;
        transform: translateY(10rem) translateX(30rem) ;
    }
    50% {
        opacity: .5;
        transform:  translateX(-30);
        color: rgba(15, 15, 160, 0.993);
        font-size: 3rem
    }
    100% {
        opacity: 1;
        transform:  translateY(-10);
    }
}

@keyframes sub {
    0% {
        opacity: 0;
        transform: translateY(-10rem) translateX(-30rem) ;
    }
    50% {
        opacity: .5;
        transform:  translateX(30);
        color: rgb(10, 10, 177);
        font-size: 4rem;
    }
    100% {
        opacity: 1;
        transform:  translateY(10);
    }
}


body {
    padding: 2rem 2rem 0 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    position: relative;
}

.heading {
    height: 90vh;
    background-color: rgba(105, 105, 248, 0.616); 
    text-align: center;
    padding: 5rem;
    color: white;
    clip-path: polygon(10% 0, 100% 0, 100% 80%, 0 100%);
    z-index: 100;
}

.main-heading {
    animation: main 5s;
    font-size: 8rem;
    letter-spacing: 2rem;
    font-weight: 500;
    line-height: 10rem;
}
.sub-heading {
    animation: sub 5s;
    font-size: 2rem;
    letter-spacing: .5rem;
    font-weight: 400;
}

.selection {
    padding: 25rem 2rem 16rem 10rem;
    margin-top: -35%;
    background-color:  rgba(248, 248, 248, 0.226);
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 0 100%);
    width: 90%;
   
}
.selection p {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
    transform: skewX(-15deg);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.male-female {
    font-size: 2rem;
    padding: 2rem;
}

.MALE {
    float: left;
    padding: 1rem;
    transform: skewX(-10deg);
}

.FEMALE {
    float: right;
    padding: 1rem;
    margin-right: 5rem;
    transform: skewX(-10deg);
}
.male {
    text-decoration: none;
    color: white;
    background-color: blue;
    letter-spacing: .5rem;
    padding: .7rem 1.2rem;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.274);
}
.male:hover {
    background-color: rgba(47, 47, 252, 0.829);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.192);
    transform: translateY(-5rem);
}
.female {
    text-decoration: none;
    color: white;
    background-color: blue;
    letter-spacing: .5rem;
    padding: .7rem 1.2rem;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.274);
}
.female:hover {
    background-color: rgba(47, 47, 252, 0.829);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.274);
    transform: translateY(-5rem);
}

.video {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}

.male-page {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-10rem);
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    margin: 0 auto;
}
.male-page:target {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    position: relative;
}
.men {
    background-color:  rgba(105, 105, 248, 0.616); 
    padding: 3rem;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-weight: 400;
    letter-spacing: 3rem;
    text-shadow: 1rem .5rem 2rem blue;
   
}

.img {
    width: 25%;
    padding: 1rem;
    float: left;
    margin: 0 auto;
   
}
.content {
    padding: 2rem;
    float: right;
    width: 80%;
}
.nav {
    float: left;
    padding: 1rem;
    width: 20%;
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.438);
    text-align: center;
    border-right: 3px solid blue;
}
.nav h3 {
    color: white;
    text-shadow: 1rem 1rem 1rem black;
    text-align: center;
    font-size: 2rem;
}
.nav li {
    margin-top: 4rem;
    text-transform: uppercase;
    list-style: none;
}
.btn {
    background-color: blue;
    color: white;
    font-size: 1rem;
    padding: .5rem 1rem;
    letter-spacing: .4rem;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.349);
}
.btn:hover {
    background-color: rgba(10, 10, 236, 0.13);
    box-shadow: .2rem .2rem 1rem black;
}
.link {
    display: inline-block;
    margin-bottom: 5rem;
    padding: .5rem 1rem;
    letter-spacing: .3rem;
    color: white;
    background-color: rgba(105, 102, 102, 0.521);
    border-radius: 3rem;
    box-shadow: 0 .5rem 3rem black;
    z-index: 2000;
    transition: all .5s;
}
.link:hover {
    background-image: linear-gradient(190deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.644));
    color: black;
}
.btn-trans {
    margin-top: -8rem;
    text-align: center;
}

.img:hover {
    box-shadow: .5rem .5rem 5rem rgba(0, 0, 255, 0.37);
}
a {
    text-decoration: none;
    color: white;
}
.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0 .5rem;
    margin: 1rem;
    font-size: 3rem;
    box-shadow: .5rem .5rem 5rem white;
    
}
.close:hover {
    box-shadow: -.5rem -.5rem 5rem white;
    background-color: black;
}


.navigation__checkbox {
    display: none; }
  
  .navigation__button {
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }

  
  .navigation__background {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 3rem;
    background-image: radial-gradient(rgba(69, 69, 199, 0.432) 0%, rgb(47, 4, 126) 30%);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
 
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  
  .navigation__item {
    margin: 1rem; }
  
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 200;
    padding: .5rem 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #0b2774d8;
    transform: translateX(1rem); }
  
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(150); }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  
  .navigation__icon {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: .5rem;
}
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 1.5rem;
      height: 3px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -1.5rem; }
    .navigation__icon::after {
      top: -.8rem; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
 .ani {
     animation: times 5s infinite;
     font-size: 5rem;
     color: white;
     font-weight: 300;
     position: absolute;
     top: 132px;
     left: 538px;
     z-index: 1000;
 }
  
